/* Color Palette
#495867 - dark blue
#a1a6b4 - dark grey
#99d6ff - light blue
#94c5cc - aqua green
#f8f8f8 - light grey
*/


/*Global styles
-----------------------*/

html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h1, h2{
    font-weight: 400;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}
a{
    color: #94c5cc;
}
a:hover{
    text-decoration: none;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}
.col-narrow{
    width: 30%;
    float: left;
    min-height: 175px;
}


/* header and footer
-----------------------*/
/*header*/
header, footer{
    background: #495867;
    color: #99d6ff;
}
header{
    text-align: centerQ;
}
header h1, header h2{
    color: #f8f8f8;
    margin: 0;
}
/*footer*/
footer{
    text-align: center;
}
.contact-info a{    
    padding: 10px;
    display: inline-block;
}
.profile-img{
    border-radius: 50%;
}

/* Work Experience
--------------------------*/
.work{
    background: #f8f8f8;
}


/* Education
--------------------------------*/

.education{
    background:#99d6ff;
}
